/* --------------------------------------------------- General Styling */

:root {
    --primary-bg-color: rgba(159, 133, 37, 0.45);
    --secondary-bg-color: rgba(159, 133, 37, 0.45);

    --clr-light: #e5e5e5;

    --primary-font-familiy: 'Playfair', serif;
    --secondary-font-familiy: 'Open Sans', sans-serif;

    --fw-regular: 700;
    --fw-medium: 500;
    --fw-regular: 300;

    --fs-300: 1rem;
    --fs-500: 1.5rem;
    --fs-700: 2.5rem;

    --fs-body: var(--fs-300);
    --fs-nav: var(--fs-500);
}

@media (min-width: 50em) {
    :root {
        --fs-700: 3.5rem;
        --fs-500: 2.5rem;

        --fs-body: var(--fs-300);
        --fs-nav: var(--fs-500);
        --fs-button: var(--fs-300);
    }
}

body {
    margin: 0;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

}


/* ---------------------------------------------------  Landing Page */


/* Hero Image on landing page */
body.landing {
    margin: 0;
    background: linear-gradient(to bottom, var(--primary-bg-color), var(--primary-bg-color)),
        url("../images/Summer-Home-full.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Hero Image on events page */
body.events {
    margin: 0;
    background: linear-gradient(to bottom, var(--primary-bg-color), var(--secondary-bg-color)),
        url("../images/Summer-Home-full.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Hero Image on Trails page */
body.trails {
    margin: 0;
    background: linear-gradient(to bottom, var(--primary-bg-color), var(--secondary-bg-color)),
        url("../images/Summer-Home-full.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* CSS for the navbar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

ul.navbar li {
    margin: 0 10px;
    /* Add margin to create space between links */
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: var(--fw-regular);
    font-family: var(--secondary-font-familiy);
    font-size: var(--fs-500)
}

ul.navbar li a:hover {
    background-color: #a09e9e;
}

/* css for navbar events page */
.navbar-events {
    background-color: #a09e9e !important;
}

/* css for Header/title */

.header {
    text-align: center;
    font-weight: var(--fw-medium);
    font-family: var(--primary-font-familiy);
    font-size: var(--fs-700)
}

/* CSS for the footer */
footer {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: var(--fw-medium);
    font-size: var(--fs-300);
    color: rgba(228, 227, 227, 0.8);
}

/* to make footer elements be placed on bottom of screen instead of using fixed positioning */
.module-inside {
    min-height: 90vh;
}

/* Carousel - Events Page */

.carousel-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.carousel {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    position: relative;
    height: 70vh;
}

.carousel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-slide {
    position: absolute;
    opacity: 0;
    inset: 0;
    transition: opacity 0.3s ease-in-out;
}

.carousel-slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.carousel-slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
}

.carousel-button:hover,
.carousel-button:focus {
    color: rgba(255, 255, 255, 1);
}

.carousel-button.previous {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.carousel-tabs {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.carousel-tab {
    width: 40px;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    margin: 5px;
    opacity: 0.3;
}

.carousel-tab[data-active] {
    opacity: 1;
}

.carousel-information {
    position: relative;
    color: white;
    background: none;
    font-size: 32px;
}

.carousel-text {
    position: absolute;
    opacity: 0;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
}

.carousel-text[data-active] {
    opacity: 1;
}

.carousel-text p {
    margin: 0;
}
.carousel-title {
    font-weight: bold;
    font-size: 110%;
}

@media screen and (max-width: 1200px) {
    .carousel-slide>img {
        border-radius: 0;
    }

    .carousel-slide>img {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .carousel-container {
        margin-bottom: 30px;
    }

    .carousel-information {
        font-size: 24px;
    }

    .carousel-button {
        font-size: 5rem;
    }

    .carousel-tab {
        width: 32px;
        height: 12px;
    }
}

@media screen and (max-width: 572px) {
    .carousel-button.previous {
        left: 0.7rem;
    }

    .carousel-button.next {
        right: 0.7rem;
    }
}

@media screen and (max-width: 428px) {
    .carousel-button {
        font-size: 4rem;
    }

    .carousel-tab {
        width: 12px;
        height: 12px;
    }

    .carousel-information {
        font-size: 16px;
    }

    .carousel-text {
        padding: 10px;
    }
}

@media screen and (max-width: 372px) {
    .carousel-container {
        margin-bottom: 20px;
    }

    .carousel-button {
        font-size: 3rem;
    }

    .carousel-button.previous {
        left: 0.4rem;
    }

    .carousel-button.next {
        right: 0.4rem;
    }
}

/* Trails page */
.trailsintro {
    font-family: var(--secondary-font-familiy);
    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
    line-height: 1.5;
    color: var(--clr-light)
}

.trailsintro p {
    margin: 2rem 5rem;
}

@media (max-width: 468px) {
    .trailsintro p {
        margin: 0.5rem 2.5rem;
    }

}

/* Map - Trails Page */

#map {
    height: 80vh;
    width: 100%;
    margin-bottom: 4rem;
}

.marker {
    height: 3.5rem;
}

/* body {
    margin: 0;
    font-family: sans-serif;
}

#hero-image {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../media/Summer-Home-Full.jpeg') no-repeat center center;
}
footer {
    height: 150px;
    }

.footer-icons {
    text-align:center;
    }

.footer-icons > li {
        display: inline;
    }

    .footer-icons i {
        font-size: 160%;
        margin: 1%;
        padding: 10%;
        color:black;

    } */

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    gap: 10px;
    /* Adjust alignment */
    margin-bottom: 20px;
    /* Adjust margin bottom */
}

.fa  {
    color: var(--clr-light);
  }

.footer-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons img {
    width: 3.5rem;
    height: 3.5rem;
}

footer {
    font-family: var(--primary-font-familiy);
    font-size: var(--fs-500);
    margin: 0 auto;
}

footer p {
    margin: 0 auto;
    text-align: center;
}

.modal.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal-backdrop.in {
    opacity: 0.5;
    /* opacity: $modal-backdrop-opacity; (SCSS) */
}