@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');
body {
    margin: 0;
    font-family: sans-serif;
}

/* Hero Image on landing page */
body.landing {
    margin: 0;
    background: url('../images/Summer-Home-full.jpg') no-repeat center center fixed;
    background-size: cover;
}
/* Hero Image */
 #image {

    
 }
/* CSS for the navbar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

ul.navbar li {
    margin: 0 10px; /* Add margin to create space between links */
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

ul.navbar li a:hover {
    background-color: #a09e9e;
}


/* css for Header/title */

.header {
    text-align: center;
}

#card-body {
    color: white;
}

/* CSS for the footer */
footer {
    text-align: left;
    padding-left: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: #a09e9e;
}


/* Map - Trails Page */
.card-title { 
    font-family: oswald, sans-serif;
    color: white;
}

.card-text {
    font-family: oswald, sans-serif;
    color: white;
}

#map {
    height: 400px;
    width: 100%;
}

/* body {
    margin: 0;
    font-family: sans-serif;
}

#hero-image {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../media/Summer-Home-Full.jpeg') no-repeat center center;
}
footer {
    height: 150px;
    }

.footer-icons {
    text-align:center;
    }

.footer-icons > li {
        display: inline;
    }

    .footer-icons i {
        font-size: 160%;
        margin: 1%;
        padding: 10%;
        color:black;

    } */

.footer-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: flex-start; /* Adjust alignment */
    margin-bottom: 20px; /* Adjust margin bottom */
}

.footer-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.footer-icons a svg {
    width: 100%;
    height: 100%;
}

.modal.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
    /* opacity: $modal-backdrop-opacity; (SCSS) */
  }