body {
    margin: 0;
    font-family: sans-serif;
}

/* Hero Image on landing page */
body.landing {
    margin: 0;
    background: url("../images/Summer-Home-full.jpg") no-repeat center center
        fixed;
    background-size: cover;
}

/* Hero Image on events page */
body.events {
    margin: 0;
    background: url("../images/pexels-ricardo-santanna-16980748.jpg") no-repeat center center
        fixed;
    background-size: cover;
}

/* Hero Image */
#image {
}
/* CSS for the navbar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

ul.navbar li {
    margin: 0 10px; /* Add margin to create space between links */
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

ul.navbar li a:hover {
    background-color: #a09e9e;
}

/* css for navbar events page */
.navbar-events {
    background-color: #a09e9e !important;
}

/* css for Header/title */

.header {
    text-align: center;
}

/* CSS for the footer */
footer {
    text-align: left;
    padding-left: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: #a09e9e;
}

/* Carousel - Events Page */

.carousel-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.block__header {
    margin: 20px 0;
    text-align: center;
}

.carousel {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px #acacac;
    position: relative;
    height: 600px;
}

.carousel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-slide {
    position: absolute;
    opacity: 0;
    inset: 0;
    transition: opacity 0.3s ease-in-out;
}

.carousel-slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.carousel-slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
}

.carousel-button:hover,
.carousel-button:focus {
    color: rgba(255, 255, 255, 1);
}

.carousel-button.previous {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.carousel-tabs {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.carousel-tab {
    width: 40px;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    margin: 5px;
    opacity: 0.3;
}

.carousel-tab[data-active] {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .carousel-block {
        padding: 16px;
    }

    .carousel-container {
        margin-bottom: 30px;
    }

    .block__header {
        margin: 15px 0;
    }

    .carousel-tab {
        width: 32px;
        height: 12px;
    }
}

@media screen and (max-width: 428px) {
    .carousel-tab {
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 372px) {
    .carousel-block {
        padding: 12px;
    }

    .carousel-container {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 324px) {
    .carousel-block {
        padding: 10px;
    }
}

/* Map - Trails Page */

#map {
    height: 100vh;
    width: 100%;
}

.marker {
    height: 3.5rem;
}

/* body {
    margin: 0;
    font-family: sans-serif;
}

#hero-image {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../media/Summer-Home-Full.jpeg') no-repeat center center;
}
footer {
    height: 150px;
    }

.footer-icons {
    text-align:center;
    }

.footer-icons > li {
        display: inline;
    }

    .footer-icons i {
        font-size: 160%;
        margin: 1%;
        padding: 10%;
        color:black;

    } */

.footer-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: flex-start; /* Adjust alignment */
    margin-bottom: 20px; /* Adjust margin bottom */
}

.footer-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.footer-icons a svg {
    width: 100%;
    height: 100%;
}

.modal.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    transform: translate(0, 0);
}
.modal-backdrop.in {
    opacity: 0.5;
    /* opacity: $modal-backdrop-opacity; (SCSS) */
}
